/* Base HTML Styles */

:root {
  --brand:  #38A3A5;
  --action: #A9D8FF;
  --highlight: #D1BF6F;
  --white: #ffffff;
  --base-light: #C2D1D6;
  --base-dark: #212D31;
  --black: #111111;

  --padding-base:8px;
  --padding-medium: calc(var(--padding-base)*2);
  --padding-large: calc(var(--padding-base)*4);
}

/* CSS RESET */

html {
     box-sizing: border-box;
     font-family: 'Montserrat Alternates';
     font-size: 16px;
     color: var(--black);
     scroll-behavior: smooth;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
     margin: 0;
     padding: 0;
 }

 ol,
 ul {
     list-style: none;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 input,
 button,
 textarea,
 select {
     font: inherit;
 }




.main-name{
    font-size: 50px;
    font-family: "Sacramento", cursive;
    color: var(--base-dark);
}

.specialg{
    color: var(--highlight);
}

.profilepic{
    max-height: 400px;
    width: auto;
}


.flex{
    display:flex;
    border-color: 1px solid red;
}

.center{
    display: flex;
    justify-content: center;
}

.space-between{
    display:flex;    
    justify-content:space-between;
    flex-grow: 1;  
}

.space-evenly{
    display: flex;
    justify-content: space-evenly;
}

.column{
    display: flex;
    flex-direction:column;
}

.row{
    display:flex;
    flex-direction:row;
}

header nav ul{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    background-color: var(--base-light);
}

.hero{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-size: xx-large;
    font-style: normal;
    background-color: var(--brand);
    color: white;
    align-items: center;
}

section{
    padding: var(--padding-medium) var(--padding-large)
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 16px;
    border-radius: 10px;
    margin: 5px 10px;
    background-color: var(--brand);
}


.padding-small{
    padding: 8px;
}

.padding-medium{
    padding: 16px;
}

.padding-large{
    padding: 32px;
}

.padding-xl{
    padding: 64px;
}

.icon{
    max-width: 32px;
    min-width: 30px;
    gap: 30px;
}

article .icon{
    width: 30px;
}


.flex-grow{
    flex-grow: 1;
}

.flex-flow{
    flex-flow: wrap row;
}

.articles-container{
    background-color: var(--base-light);
}

.btn-primary{
    background-color: #D1BF6F;
    padding: 12px 16px;
    border-radius: 8px;
    box-sizing: content-box;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* The following styles will override the default styles (if they exist) on screens wider than 400px. */
@media only screen and (min-width: 700px) {
  .section3 {
    display: flex;
    background-color: blue;
    justify-content:center;
    flex-flow: wrap row;
    }
 
}

/* The following styles will override the default styles and media queries on wider screen sizes (if they exist) on screens wider than 1024px. */
@media only screen and (min-width: 1024px) {
    section {
        padding: var(--padding-large) calc((100vw / 2) - (1000px / 2));
    }
}
