/* Base HTML Styles */
:root {
    --brand:  #38A3A5;
    --action: #A9D8FF;
    --highlight: #D1BF6F;
    --white: #ffffff;
    --base-light: #C2D1D6;
    --base-dark: #212D31;
    --black: #111111;

    --padding-base: 8px;
    --padding-medium: calc(var(--padding-base)*2);
    --padding-large: calc(var(--padding-base)*4);
    --padding-xl: calc(var(--padding-base)*6);
}

/* CSS RESET */
html {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    color: var(--black);
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
input,
button,
textarea,
select {
    font: inherit;
}

@media only screen and (max-width: 768px) {
    .section2 {
        flex-direction: column;
    }
    
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

/* The following styles will override the default styles and media queries on wider screen sizes (if they exist) on screens wider than 1024px. */
@media only screen and (min-width: 1024px) {
    header {
        padding: var(--padding-large) calc((100vw / 2) - (1000px / 2));
    }
    section {
        padding: var(--padding-large) calc((100vw / 2) - (1000px / 2));
    }
    .contact-form {
        padding: var(--padding-medium) calc((100vw / 2) - (1400px / 2));
    }
}